apiVersion: apps/v1
kind: Deployment
metadata:
  name: voting-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: voting-app
  template:
    metadata:
      labels:
        app: voting-app
    spec:
      containers:
        - name: voting-app
          image: devaksacr12345.azurecr.io/voting-app:v1
          ports:
            - containerPort: 80
          env:
            - name: REDIS
              value: "redis"
