apiVersion: v1
kind: Service
metadata:
  name: voting-app
spec:
  type: {{ .Values.service.type }}
  selector:
    app: voting-app
  ports:
    - protocol: TCP
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}