trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  terraformWorkingDir: 'terraform/env/dev'

stages:

- stage: Terraform_Validate
  displayName: Terraform Validate
  jobs:
  - job: validate
    steps:

    # Install Terraform
    - task: TerraformInstaller@1
      displayName: Install Terraform
      inputs:
        terraformVersion: '1.5.7'

    # Run Terraform Init
    - script: |
        terraform init
      workingDirectory: $(terraformWorkingDir)
      displayName: Terraform Init

    # Run Terraform Validate
    - script: |
        terraform validate
      workingDirectory: $(terraformWorkingDir)
      displayName: Terraform Validate

- stage: Terraform_Plan
  displayName: Terraform Plan
  jobs:
  - job: plan
    steps:

    - task: TerraformInstaller@1
      inputs:
        terraformVersion: '1.5.7'

    - script: |
        terraform init
        terraform plan
      workingDirectory: $(terraformWorkingDir)
      displayName: Terraform Plan
